<div class="main-nav-container">
    <ul class="main-nav" #navMenu>
        <li class="main-nav-items">
            <a routerLink="./home" class="main-nav-text" routerLinkActive="current-tab" title="Home">Home</a>
        </li>
        <li class="main-nav-items">
            <a routerLink="./projects" class="main-nav-text" routerLinkActive="current-tab" title="Projects">Projects</a>
        </li>
        <li class="main-nav-items">
            <a routerLink="./skills" class="main-nav-text" routerLinkActive="current-tab" title="Skills">Skills</a>
        </li>
        <li class="main-nav-items">
            <a routerLink="./experience" class="main-nav-text" routerLinkActive="current-tab" title="Experiences">Experience</a>
        </li>
        <li class="main-nav-items">
            <a routerLink="./contact" class="main-nav-text" routerLinkActive="current-tab" title="Contact Me">Contact</a>
        </li>
    </ul>
    <div class="hamburger" #hamburger>
        <span class="lines"></span>
        <span class="lines"></span>
        <span class="lines"></span>
    </div>
</div>
