* {
    color: beige;
    font-family: 'Trebuchet MS', sans-serif;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.left-panel-container {
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: lightgreen;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5), 0px 0px 40px 20px #0ff;
    text-align: center;
}

.floating-icons {
    position: absolute;
    transition: transform 200ms ease-in;
}

.floating-icons:hover {
    transform: scale(2);
}

#jira {
    left: 238px;
    top: 136px;
}

#git {
    left: 25px;
    top: 64px;
}

#html {
    left: 15px;
    top: 145px;
}

#css {
    left: 225px;
    top: 63px;
}

#javascript {
    left: 87px;
    top: 15px;
}

#typescript {
    left: 58px;
    top: 212px;
}

#csharp {
    left: 211px;
    top: 207px;
}

#angular {
    left: 160px;
    top: 20px;
}

#mysql {
    left: 141px;
    top: 244px;
}

.right-panel {
    padding: 20px;
    width: 450px;
    min-height: 650px;
    overflow-y: scroll;
    scrollbar-width: none;  /* FireFox */

}
.right-panel::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.skills-main-heading {
    font-size: 62px;
}

.skills-sub-section {
    margin-left: 30px;
    padding: 12px;
}

.skill-list-items {
    display: flex;
    min-height: 40px;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 630px) {
    .skills-container {
        flex-direction: column;
    }

    .left-panel {
        transform: scale(0.8);
    }

    .right-panel {
        width: 350px;
    }
}

@media screen and ((max-width: 390) or (max-height: 700)) {
    .left-panel-container, .right-panel, .skills-container {
        height: auto;
    }
}
