* {
    color: beige;
    font-family: 'Trebuchet MS', sans-serif;
}

.main-heading {
    font-size: 3.5rem;
}

.home-container {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.left-side, .right-side {
    width: 40vw;
    padding: 10px;
}

.quick-links-container {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-text {
    opacity: 0.4;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
}

.svg-icon {
    fill: #fff;
}