<div class="home-container">
    <div class="left-side">
        <h1 @fadeInFromTop class="main-heading">{{currentGreetingLine}}</h1>
        <h3 @fadeInFromBottom class="sub-heading">Full Stack Software Developer</h3>
        <h4 @fadeInFromBottom class="sub-sub-heading"><strong>Angular 12+ | .NET Core | JavaScript (ES6) | TypeScript | C#</strong></h4>
    </div>
    <div class="right-side">

    </div>
</div>
<div class="footer-text">
    <h4>Designed & Developed by me 🙂</h4>
    <h4>&copy; 2022 Abhiram M</h4>
    <h6>All icons and svgs belong to the respective owners</h6>
</div>